html,body {
    background-image:url('../img/background.jpg');
}
.navbar-default {
    border:none !important;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar {
    background-color:black !important;
    color:white !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background:none !important;
    color:white !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: black;
}
#header {
    background:none !important;
}
.navbar-default .navbar-nav>li>a {
    color:white !important;
}
.navbar-brand {
    color:#d99882 !important;
}
.container {
    background-color: rgba(254, 250, 241, 0.34) !important;
    border: solid 1px rgba(216, 216, 216, 0.6);
    padding:20px;
}